html, body
{
    position: absolute;

    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

main
{
    width: 100%;
    height: 100%;
}

.header
{
    position: relative;

    height: 25%;
    min-width: 100%;
    z-index: -1;
    opacity: 0.8;
    margin-bottom: -1px;
}

.header-bg
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;

    height: 100%;
    min-width: 100%;
    background-size: auto 50%;
}

#header-img1
{
    background-image: url("https://cdn.discordapp.com/attachments/371122008018386944/487664454885048343/lumber-84678_1920.jpg");
}

.title-box
{
    position: absolute;
    background-color: #5c2626;
    color: white;
    text-align: center;

    font-size: 30px;    
    min-height: 60px;
    line-height: 60px;
    min-width: 180px;
    max-width: 30%;
    opacity: 0.8;
    top: calc(50% - 30px);
    left: calc(50% - 90px);
}

#bio
{
    height: 50%;
    background-color: #ffd6b6;
}

#my-skills
{
    height: 25%;
    background-color: #ea7362;
}

#site-statics
{
    height: 75%;
    background-color: #b74242;
}

.footer
{
    height: 25%;
    background-color: #5c2626;
}

#home-nav
{
    position: fixed;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    
    top: 0;
    left: 12px;
    height: 50px;      
    line-height: 50px;
    font-size: 24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#home-nav a
{
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;

    padding: 0 20px;
    margin: 0;
}

#home-nav a:hover
{
    border-style: hidden solid;
    color: #66a6ff;
    
    transition: .3s;  
}

#home-nav ul
{
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}

#home-nav li
{
    float: left;
}

sidebar
{
    background-color: #18a5a5;
    position: fixed;

    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    font-size: 24px;
    transition: transform .15s;
}

.show-sidenav
{
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    transition: transform .15s;
}

sidebar a
{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: left;

    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.sidenav-btn
{
    cursor: pointer;
}

sidebar .sidenav-btn
{
    position: relative;
    color: white;

    left: 12px;
    top: 9px;
}

sidebar a:hover
{
    background-color: #89c9c96c;
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
    transition: 0.1s;
}

sidebar ul
{
    list-style-type: none;
    
    margin: 0;
    padding: 10px;
}

.category
{
    overflow: auto;

    width: 100%;
    height: calc(100% - 215px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.icons
{
    text-align: center;
    
    margin: 0 8px;
    padding: 0;
    width: 32px;
}

sidebar .icons
{
    color: white;
}

.profile
{
    position: relative;
    display: block;
    background-size: cover;
    background: #2ca8c7;
    background-image: -webkit-radial-gradient(circle, #5fd4f1, #1c9bbb);
    background-image: radial-gradient(circle, #5fd4f1, #1c9bbb);
    
    height: 215px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.profile img
{
    display: block;
    position: relative;
    margin: auto;

    width: 45%;
    border-radius: 50%;
}

.profile span
{
    text-align: center;
    position: relative;
    display: block;
    color: white;
}

#profile-img:hover
{
    animation: heartbeat .5s forwards;
}

#profile-quote
{
    font-size: 13px;
}

#profile-name
{
    font-size: 30px;
}

.ripple
{
    position: relative;
}

.ripple-effect
{
    position: absolute;
    overflow: hidden;
    
    top: -4px;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 1;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background: rgba(0,0,0,0.15);
    animation: ripple .15s ease-out forwards;
}

.search-container
{
    position: relative;
    overflow: hidden;

    margin: 3px;
    border: solid 2px;
    border-radius: 40px;
    height: 40px;
    line-height: 36px;
    transition: .5s;
}

.search-input
{
    border: none;
    outline: none;
    background: transparent;

    font-size: 24px;
    width: 200px;
    margin: 0 0 0 15px;
    animation: stretch .3s ease-out forwards;
}

.search-btn
{
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;

    height: 100%;
    padding: 0;
    line-height: 24px;
    font-size: 24px;
}

.spin-effect
{
    animation: spin .5s ease-out forwards;
}

@media only screen and (max-width: 700px)
{
    #home-nav a, .search-container{
        display: none;
    }
}

@keyframes ripple
{
    to{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes heartbeat
{
    50%{
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    75%{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    0%, 100%{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);   
    }
}

@keyframes stretch
{
    from{
        width: 0;
    }
    to{
        width: 200px;
    }
}

@keyframes spin
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}