@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://unpkg.com/simplebar@latest/dist/simplebar.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

html,
body {
    position: absolute;
    font-family: "Noto Sans TC", sans-serif;

    top: 0;
    left: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
}

main {
    min-height: 100vh;
}

a:visited,
a:link {
    color: inherit;
}

/* Home-nav */
#home-nav {
    position: fixed;
    display: block;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.7);

    top: 0;
    left: 0.7em;
    height: 2.4em;
    line-height: 2.4em;
    font-size: 1.3em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 5;
}

#home-nav a {
    text-decoration: none;
    display: block;

    margin: 0;
}

#home-nav a:hover {
    color: lightseagreen;

    transition: 0.2s;
}

#home-nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    height: inherit;
}

#home-nav li {
    float: left;
    text-align: center;
    overflow: hidden;

    width: 2.4em;
    height: inherit;
    transition: 0.35s;
}

#home-nav .toolbar {
    visibility: hidden;

    width: 0;
    transition: 0.25s;
}

#home-nav .active {
    background: #ddda;
}

#music-player {
    position: absolute;
    visibility: hidden;
    transform: translateX(-350px);

    z-index: 3;
    opacity: 0.5;
    margin-top: 0.1em;
    height: 80px;
    transition: 0.35s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#music-player:hover {
    opacity: 1;
}

#music-player.show {
    visibility: visible;
    transform: translateX(0px);
}

/* Side-nav */
#side-nav {
    background-color: #18a5a5;
    position: fixed;
    user-select: none;

    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    font-size: 1.3em;
    transition: transform 0.15s;
    z-index: 10;
}

.show-sidenav {
    transform: translate3d(250px, 0, 0);
}

#side-nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: left;
    box-sizing: border-box;

    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 0.5em;
    line-height: 40px;
}

#side-nav .sidenav-btn {
    position: relative;
    color: white;

    left: 1.15em;
    top: 9px;
}

#side-nav a:hover {
    background-color: #89c9c96c;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
}

#side-nav ul {
    list-style-type: none;

    margin: 0;
    padding: 10px;
}

#side-nav .category {
    overflow: auto;

    width: 100%;
    height: calc(100% - 215px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#side-nav .icons {
    color: white;
}

#side-nav .profile {
    position: relative;
    display: block;
    background-size: cover;
    background: #2ca8c7;
    background-image: radial-gradient(circle, #5fd4f1, #1c9bbb);

    height: 215px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#side-nav .profile img {
    display: block;
    position: relative;
    margin: auto;

    width: 45%;
    border-radius: 50%;
}

#side-nav .profile span {
    text-align: center;
    position: relative;
    display: block;
    user-select: text;
    color: white;
}

#side-nav #profile-img:hover {
    animation: heartbeat 0.5s forwards;
}

#side-nav #profile-quote {
    font-size: 13px;
}

#side-nav #profile-name {
    font-size: 30px;
}

/* Footer */
#footer {
    position: absolute;
    background: #45454545;
    text-align: center;
    color: grey;

    width: 100%;
    padding: 1em 0;
    transition: 0.3s;
}

#footer:hover {
    background: #454545;
}

/* Others */
.icons {
    text-align: center;

    padding: 0;
    width: 1.5em;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    color: lightseagreen;
    transition: 0.2s;
}

.ripple {
    position: relative;
}

/* Animation effect */
.spin-effect {
    animation: spin 0.5s ease-out forwards;
}

.ripple-effect {
    position: absolute;
    overflow: hidden;

    top: -5px;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 1;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.15);
    animation: ripple 0.15s ease-out forwards;
}

@media only screen and (max-width: 700px) {
    #home-nav a,
    #home-nav li {
        display: none;
    }

    #footer {
        font-size: 0.7em;
    }
}

/* Animation */
@keyframes ripple {
    100% {
        transform: scale(1.3);
    }
}

@keyframes heartbeat {
    50% {
        transform: scale(0.7);
    }
    75% {
        transform: scale(1.1);
    }
    0%,
    100% {
        transform: scale(1);
    }
}

@keyframes stretch {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
