main
{
    background: #89f7fe;
    position: absolute;

    width: 100%;
    background-image: -webkit-linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    background-image: linear-gradient(to top left, #89f7fe 0%, #66a6ff 100%);
}

#status
{
    position: relative;
    margin: 100px;
}