@import url('https://fonts.googleapis.com/css?family=Roboto:900');

#header
{
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: #74ebd5;
    background: linear-gradient(to bottom right, #74ebd5, #ACB6E5);
	
	top: 0;
	left: 0;
	width: 100%;
	min-height: 50vh;
}

#header .bg-bubbles
{
	position: absolute;
    
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-bubbles li 
{
    position: absolute;
    list-style: none;
    display: flex;
    background: white;

    width: 50px;
    height: 50px;
    bottom: -200px;
    
    animation: bubble 25s linear infinite;
}

.bg-bubbles li:nth-child(1)
{
    left: 5%;
}

.bg-bubbles li:nth-child(2)
{
    left: 10%;
    
    width: 100px;
    height: 100px;
    
    animation-delay: 2s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3)
{
    left: 20%;
    animation-delay: 3s;
}

.bg-bubbles li:nth-child(4)
{
    left: 25%;
    width: 15px;
    height: 15px;
    
    animation-delay: 2s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(5)
{
    left: 30%;
    width: 200px;
    height: 200px;
    
    animation-delay: 5s;
}

.bg-bubbles li:nth-child(6)
{
    left: 40%;
    width: 70px;
    height: 70px;
    
    animation-duration: 15s;
}

.bg-bubbles li:nth-child(7)
{
    left: 60%;
    width: 30px;
    height: 30px;
    
    animation-delay: 15s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(8)
{
    left: 70%;
}

.bg-bubbles li:nth-child(9)
{
    left: 80%;
    width: 120px;
    height: 120px;
    
    animation-delay: 3s;
}

.bg-bubbles li:nth-child(10)
{
    left: 90%;
    width: 150px;
    height: 150px;
    
    animation-delay: 10s;
}

#title-box
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: #333b;

    font-size: 3.5em;
    z-index: 1;
}

#title-box .title
{
    display: flex;
    flex-direction: column;
    background: #fffc;

    padding: 0 .2em;
    margin: .2em;
    border-radius: 5%;
}

#title-box span:nth-child(2)
{
    font-size: .5em;
    line-height: .5em;

    animation: zoom ease-out 2s;
}

.flip-list
{
    overflow: hidden;

    height: 1em;
}

.flip-list ul
{
    list-style: none;
    text-align: center;

    line-height: 200%;
    margin: 0;
    padding: 0;
    transform: translateY(.5em);

    animation: swipe-up 50s linear 2s infinite;
}


#status
{
    position: relative;
    padding: 50px;
}

/* Animation */
@keyframes bubble 
{
    from { 
        opacity: .3;
        transform: translateY(0) rotate(0); 
    }
    to { 
        opacity: 0;
        transform: translateY(-100vh) rotate(360deg); 
    }
}

@keyframes swipe-up
{
    0% {
        transform: translateY(.5em);
    } 1%, 10%,  51%, 60% {
        transform: translateY(-.5em);
    } 11%, 20%,  61%, 70% {
        transform: translateY(-2.5em);
    } 21%, 30%,  71%, 80% {
        transform: translateY(-4.5em);
    } 31%, 40%,  81%, 90% {
        transform: translateY(-6.5em);
    } 41%, 50%,  91%, 100% {
        transform: translateY(-8.5em);
    } 
}

@keyframes zoom
{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}