@import url("/css/master.css");
@import url("https://npmcdn.com/tootik@1.0.2/css/tootik.min.css");

body {
    background-color: #fafafa;
}

main a {
    text-decoration: none;
}

.section {
    padding: 0.6em 2.5em;
}

.section > h2 {
    margin: 0.3em 0;
}

/* Header */
#profile {
    background: #eeee;
}

#profile > .header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1.5em 0;
}

#profile .profile-img {
    display: flex;
}

#profile img {
    width: 17em;
    height: 17em;
    border-radius: 50%;
}

#profile .title {
    color: #333;
    font-size: 0.85em;
    margin-bottom: 0.15em;
}

#profile .title a:hover {
    color: #3fc1c9;
}

#profile .basic-info {
    display: flex;
    justify-content: center;

    width: 40vw;
}

#profile .title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#profile .name {
    padding: 0.3em;
    font-size: 1.8em;
}

#profile .name :nth-child(1) {
    font-size: 1.7em;
}

#profile .info a {
    display: inline-block;
    text-decoration: none;

    margin: 0.3em;
    font-size: 2.2em;
    transition: 0.15s ease;
}

#profile .info a:hover {
    transform: scale(1.5);
}

/* Introduction */
#intro {
    display: flex;
}

#intro .bio {
    width: 55vw;
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: solid #cccc;
}

#intro .bio .info {
    display: flex;
    flex-direction: column;

    font-size: 0.9em;
}

#intro .bio a {
    text-decoration: none;
}

#intro .bio a:hover {
    color: #3fc1c9;
}

#intro .bio .paragraph {
    padding: 1em 0;
}

/* Education */
#intro .education {
    width: 40vw;
}

#intro .timeline-container {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;

    min-height: 15em;
}

#intro .edu-timeline {
    position: absolute;

    width: 35vw;
    max-width: 25em;
}

#intro .edu-timeline::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    background-color: white;

    top: 0;
    bottom: 0;
    width: 0.6em;
    margin-left: -0.55em;
    border: solid 1px #cccc;
    border-radius: 0.2em;
}

#intro .edu-timeline .container {
    position: relative;

    padding: 0 0 1em 1.5em;
}

#intro .edu-timeline .container::after {
    content: "";
    position: absolute;
    background-color: white;

    width: 1.6em;
    height: 1.6em;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#intro .edu-timeline .before::after {
    /* 1.1 = circle_radius(1.6 / 2) + line_width_half(0.6 / 2)  */
    left: -1.1em;
}

#intro .edu-timeline .current::after {
    /* 1.3 = circle_radius(1.6 / 2) + border_size(0.2) + line_width_half(0.6 / 2)  */
    left: -1.3em;
    border: 0.2em solid #ff5e5f;
}

#intro .edu-timeline .content {
    position: relative;
    text-align: center;
    background-color: white;

    padding: 0.1em;
    border-radius: 0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#intro .edu-timeline .school {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;

    color: #1b262c;
    font-size: 1.2em;
    transition: 0.1s;
}

#intro .edu-timeline .school > img {
    height: 0;
    width: auto;
    margin: 0.2em 0.2em 0.2em 0;
}

#intro .edu-timeline .major {
    display: block;
    color: gray;
    display: none;

    font-size: 0.9em;
}

#intro .edu-timeline .school:hover + .major {
    display: block !important;
}

#intro .edu-timeline .school:hover {
    color: black !important;

    font-size: 1.3em;
    cursor: default;
}

#intro .edu-timeline .school:hover img {
    height: 1.25em;
}

/* Experiences */
#exp > .content {
    display: flex;
    box-sizing: border-box;
}

#exp .item {
    display: flex;
    user-select: none;
    align-items: center;

    padding: 0.3em 1.5em;
    border-radius: 0.5em;
}

#exp .item > img {
    height: auto;
    width: 2.5em;
    margin-right: 0.6em;
}

#exp .title-list {
    width: 45vw;
    margin-right: 1em;
}

#exp .title span:nth-child(1) {
    font-size: 1.1em;
}

#exp .title span:nth-child(2) {
    font-size: 0.9em;
}

#exp .info {
    box-sizing: border-box;
    background: white;

    width: 55vw;
    padding: 1em;
    height: inherit;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

#exp .period {
    font-size: 1.05em;
}

#exp .supervisor {
    font-size: 0.9em;
    margin: 0.1em 0;
}

#exp .description {
    margin: 0.5em 0;
}

/* My Skills */
#skills > .content {
    display: flex;
}

#skills .details {
    background: white;
    box-sizing: border-box;

    height: 15em;
    width: 50vw;
    padding: 1em 1.5em;
    margin-right: 1em;
    border-radius: 0.5em;
    border: 1px solid;
    border-color: transparent;
    transition: 0.1s;
}

#skills .details:hover {
    border-color: #ccc;
}

#skills ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 1em;
    width: 50vw;
}

#skills li {
    display: flex;
    align-items: center;

    font-size: 1.1em;
    margin: 0.1em 0;
}

#skills li .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    margin-right: 0.2em;
}

#skills li img {
    height: 1em;
    width: auto;
}

#skills li span {
    font-weight: 500;
    width: 10em;
}

#skills .progress-bar {
    width: 100%;
    height: 1em;
    margin: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}

#skills .progress-bar-fill {
    display: block;
    background-color: #3fc1c9dd;

    height: 100%;
    border-radius: inherit;
    transform-origin: 0;
    transform: scaleX(0);
    transition: 1.5s ease-in-out;
}

/* Projects */
#projects .content {
    background: white;
    border-radius: 0.3em;
}

#projects .filter-bar ul {
    list-style-type: none;
    overflow: hidden;
    background: #eee;

    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0.2em;
}

#projects .filter-bar li {
    float: left;
    cursor: pointer;
    text-align: center;

    width: 5em;
    padding: 0.3em;
}

#projects .filter-bar li:hover {
    background: #555;
    color: white;
}

#projects .projects-list {
    display: flex;
    flex-direction: row;
}

#projects .list {
    overflow: auto;

    min-width: 50%;
    box-sizing: border-box;
}

#projects .list ul {
    list-style-type: none;

    margin: 0;
    padding: 0.5em;
    max-height: 50vh;
}

#projects .list li {
    cursor: pointer;

    padding: 0.3em;
    margin: 0.1em;
    border-radius: 0.2em;
}

#projects .list li:hover {
    background: #555;
    color: white;
}

#projects .info {
    background: white;

    padding: 1em;
}

#projects .info h3 {
    margin: 0;
}

#projects .links {
    color: #333;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#projects .links a {
    margin-right: 0.3em;
}

#projects .links a:hover {
    color: #3fc1c9;
}

#projects .tags {
    border-left: 0.1em solid #aaa;
}

#projects .tags span {
    cursor: pointer;

    border-radius: 0.2em;
    padding: 0.1em 0.2em;
    margin-left: 0.25em;
}

#projects .tags span:hover {
    background: #eee;
}

#projects .info img {
    max-width: 100%;
    max-height: 30vh;
    margin: 0.1em 0;
}

/* My Activities */
#activities > .content .item {
    cursor: pointer;

    padding: 0.6em;
    border-radius: 0.5em;
}

#activities > .content .item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#activities > .content .title {
    font-size: 1.1em;
}

#activities > .content img {
    display: none;

    width: auto;
    height: 20em;
    margin-top: 1em;
    border-radius: 0.3em;
}

#activities > .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9em;
}

/* My Publications */
#publications > .content {
    display: flex;
    flex-direction: column;
}

#publications > .content a {
    text-decoration: none;

    padding: 0.1em 0.6em;
}

#publications > .content a:hover {
    background: #0001;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

@media only screen and (max-width: 900px) {
    /* header */
    h2.header {
        text-align: center;
    }

    /* profile */
    #profile > .header {
        flex-wrap: wrap;
    }
    #profile .profile-img {
        width: 100vw;
        justify-content: center;
    }
    #profile .basic-info {
        width: 100vw;
        justify-content: center;
    }

    /* Introduction */
    #intro {
        flex-wrap: wrap;
    }

    #intro .education {
        width: 100vw;
    }

    #intro .timeline-container .edu-timeline {
        width: 70vw;
    }

    #intro .bio {
        text-align: center;

        margin: 0;
        padding: 0;
        border: none;
        width: 100vw;
    }

    /* Skills */
    #skills > .content {
        flex-wrap: wrap-reverse;
    }

    #skills .details {
        width: 100%;
    }

    #skills ul {
        width: 100vw;
    }

    /* Activities */
    #activities img {
        height: auto;
        max-width: 90%;
        max-height: 20em;
    }
}

@media only screen and (max-width: 450px) {
    #intro .edu-timeline {
        font-size: 0.85em;
    }
}
