[submodule "src/components"]
	path = src/components
	url = https://github.com/PM25/react-components.git
[submodule "src/home"]
	path = src/home
	url = https://github.com/pm25/home
[submodule "src/article"]
	path = src/article
	url = https://github.com/pm25/article
[submodule "src/project"]
	path = src/project
	url = https://github.com/pm25/project
