main
{
    overflow: hidden;
}


#main-bg
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bg-left
{
    background: #cdeeaa;

    height: 100vh;
    flex-grow: 1;
}

#bg-middle
{
    background: #96dae4;
    border-style: solid;
    border-color: transparent transparent #cdeeaa transparent;
    
    border-width: 0 20vw 100vh 0;
}

#bg-right
{
    background: #96dae4;

    height: 100vh;
    flex-grow: 1;
}


.selection
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    min-height: 100vh;
}

.survey-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #333c;

    transition: .3s;
}

.survey-section:hover
{
    cursor: pointer;
    
    transform: scale(1.3);
}

.survey-section > i
{
    text-align: center;

    font-size: 6em;
    width: 1em;
    height: 1em;
}

.survey-section > span
{
    font-size: 2em;
}