@import url('https://fonts.googleapis.com/css?family=Monoton');

body
{
    background: repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -moz-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -o-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -webkit-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header
{
    position: relative;
    text-align: center;
    font-family: "Monoton", cursive;

    height: 150px;
    line-height: 150px;
    width: 100%;
}

#header a, #header a:visited
{
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;

    font-size: 6em;
}

#header a:hover
{
    color: #FF1177;
    text-shadow: none;
}

#projects
{
    margin: 40px 0;
}

#projects a, #projects a:visited
{
    display: flex;
    margin: 10px auto;
    text-decoration: none;
    background: #2b2b2b88;
    color: white;
    align-items: center;
    
    border-radius: 10px;
    width: 60vw;
    font-size: 1.3em;
    padding: 10px;
}

#projects a:hover
{
    background: #2b2b2b;

    font-size: 1.5em;
}

#projects .project-date
{
    text-align: center;
    border-right: .1em solid;
    
    font-size: .8em;
    line-height: 1em;
    width: 4em;
    opacity: .8;
}

.project-date .year
{
    color: gray;

    font-size: .7em;
}

.project-date .month-day
{
    font-size: 1em;
}

#projects .project-title
{
    margin: 0 10px;
}

#projects .project-labels
{
    margin-left: auto;

    font-size: .6em;
}

#projects .project-labels span
{
    border: 1px groove;

    padding: 2px;
    margin: 0 2px;
    border-radius: 10px;
    opacity: .5;
}