@import url("https://fonts.googleapis.com/css?family=Monoton");

#project {
    background: repeating-linear-gradient(
            45deg,
            #2b2b2b2b,
            #2b2b2b2b 1px,
            transparent 1px,
            transparent 7px
        ),
        linear-gradient(to bottom, #355c7d 50%, #6c5b7b, #c06c84);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */
#project .header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: "Monoton", cursive;
    color: white;

    height: 12em;
    width: 100%;
}

#project .header a {
    color: white;
    user-select: none;
    text-decoration: none;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;

    font-size: calc(100vw / 10);
    transition-duration: 0.05s;
}

#project .header a:hover {
    color: #ff1177;
    text-shadow: none;
}

/* Project Articles */
#project .projects-list {
    padding: 1em;
}

#project .projects-list .item,
#project .projects-list .item:visited {
    display: flex;
    margin: 0.3em auto;
    text-decoration: none;
    background: #2b2b2b88;
    color: white;
    /* align-items: center;
    justify-content: space-between; */
    /* cursor: pointer; */
    /* user-select: none; */

    border-radius: 0.3em;
    width: 40em;
    min-width: 55vw;
    max-width: 90vw;
    font-size: 1.3em;
    padding: 0.5em;
    border: solid 1px #2b2b2b88;
}

/* #project .projects-list .item:hover {
    background: #2b2b2b;
    border: solid 1px white;
}
*/

 #project .projects-list .item:hover {
    background: #2b2b2baa;
    /* border: solid 1px white; */
}

#project .projects-list .preview {
    max-height: 9em;
    width: 17em;
}

#project .projects-list .item .intro {
    position: relative;
    width: 100%;
    margin-left: 1em;
}

#project .projects-list .linkbar {
    display: flex;
    
    margin: .3em 0;
}

#project .projects-list .linkbar span {
    display: flex;
    align-items: center;
}

#project .projects-list .link {
    cursor: pointer;
    user-select: none;
    
    padding: .2em .3em;
    margin-right: .5em;
    font-size: .7em;
    border-radius: .25em;
    border: solid 1px transparent;
}

#project .projects-list .link:hover {
    color: #ccc;
}

#project .projects-list .item .date {
    position: absolute;
    text-align: right;
    
    right: 0;
    bottom: 0;
    font-size: .75em;
}

/* Resposive Web Design */
@media screen and (max-width: 500px) {
    #project .projects-list a {
        width: 80vw;
    }
}
