@import url('https://fonts.googleapis.com/css?family=Monoton');

body
{
    background: repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -moz-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -o-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );
    background: -webkit-repeating-linear-gradient(
            45deg, #2b2b2b2b, #2b2b2b2b 1px, transparent 1px, transparent 7px
        ), linear-gradient(
            to bottom, #355c7d 50%, #6c5b7b, #c06c84
        );

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header
{
    position: relative;
    text-align: center;
    font-family: "Monoton", cursive;

    height: 150px;
    line-height: 150px;
    width: 100%;
}

#header a, #header a:visited
{
    color: white;
    text-decoration: none;
    animation: neon 1.5s ease-in-out infinite alternate;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -o-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;

    font-size: 6em;
}

#header a:hover
{
    color: #FF1177;
    animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -moz-animation: none;
}

#projects
{
    margin: 40px 0;
}

#projects a, #projects a:visited
{
    display: table;
    margin: 10px auto;
    text-decoration: none;
    background: #2b2b2b88;
    color: white;
    
    border-radius: 10px;
    width: 60vw;
    font-size: 1.3em;
    padding: 10px;
}

#projects .project-date
{
    border-right: .1em solid;
}

#projects .project-title
{
    margin: 0 5px;
}

@keyframes neon
{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    } to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}