#game_canvas{
    display: block;
    position: relative;
    margin: auto;
    border: 5px solid #000000;
    transition: 2s;
    opacity: 0;
}

div.background{
    background: url("../images/background.jpg");
    background-size: 100% 100%;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

