@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

body {
    background: #292b36;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50vh;
    color: white;
}

#header .title-box {
    position: fixed;
    z-index: -1;
    text-align: center;
}

#header .title {
    display: flex;
    font-family: "Ubuntu Mono", monospace;
    margin: auto;
    padding-bottom: 0.25em;

    font-size: 4.5em;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;

    width: 0;
    border-right: 0.1em solid #e7e8eb;
    animation: typing 2s steps(22, end) 0.5s forwards,
        blinking-cursor 0.5s step-end infinite;
}

/* content */
.content {
    min-height: 70vh;
    background: #fff;
    border-radius: 0.3em;
    margin: 0 2em 2em 2em;
    padding: 0.5em 1em;
}

.article {
    font-size: 1.2em;
}

.article-block {
    padding: 0.5em 1em;
    margin-top: 0.1em;
    border-radius: 0.3em;
}

.article-block:hover {
    background: #292b3633;
}

.article-block .title-date {
    display: flex;
    align-items: center;
}

.article-block .title {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.article-block .date {
    font-size: 0.8em;
    margin-left: auto;
}

.article-block .preview {
    color: #555;
    font-weight: 300;
}

/* google slides */
.google-slides iframe {
    border: 0;
    position: relative;
    top: 0;
    left: 0;
    width: calc(70vh * 16 / 9) !important;
    height: 75vh !important;
}

/* Animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-cursor {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #e7e8eb;
    }
}
