@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://unpkg.com/simplebar@latest/dist/simplebar.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

.icon {
    text-align: center;

    width: 1.5em;
    padding: 0.1em;
}
