@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body
{
    background: #1B2B34;
    color: #65737E;
}

#header
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292b36;
    color: #e7e8eb;

    width: 100%;
    height: 150px;
}

#header .title
{
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;

    width: 0;
    font-size: 3em;
    border-right: .15em solid #e7e8eb;

    animation: typing 2s steps(22, end) 1.5s forwards,
               blinking-cursor .5s step-end infinite;
}

/* Animation */
@keyframes typing 
{
    from { 
        width: 0; 
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-cursor
{
    0% { 
        border-color: transparent; 
    }
    50% { 
        border-color: #e7e8eb;
    }
}