@import url("../../css/blog.css");
@import url("../../css/master.css");
@import url("../../category/programming/css/styles.css");


:root {
    --header-height: 250px;
    --title-nword: 5;
}


/* Header */
#header-container
{
    height: var(--header-height);
}

#header .title
{
    animation: typing forwards,
               blinking-cursor .5s step-end infinite;
}


/* Blog */
#blog
{
    color: #000c;
    background: white;

    margin: 1em;
    padding: 2em;
    font-size:1.3em;
    border-radius: 1em;
    min-height: calc(100vh - var(--header-height));
}