@import url("../../css/blog.css");
@import url("../../css/master.css");
@import url("../../category/programming/css/styles.css");


:root {
    --header-height: 300px;
    --title-nword: 5;
}


/* Header */
#header-container
{
    height: var(--header-height);
}

#header .title
{
    animation: typing .5s steps(5, end) .5s forwards,
               blinking-cursor .5s step-end infinite;
}


/* Blog */
#blog
{
    color: #fffb;

    padding: 2em;
    font-size:1.3em;
    min-height: calc(100vh - var(--header-height));
}