#bio
{
    background-color: darkslategray;
}

#header
{
    position: relative;
    text-align: center;
    background-color: #00a8b5;
    color: white;

    font-size: 5em;
    height: 130px;
    line-height: 130px;
    width: calc(100vw - 470px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#timeline-container
{
    position: absolute;
    background-color: #774898;
    float: right;
    overflow: hidden;
    
    top: 0;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 0 0 0 500px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#edu-timeline
{
    position: absolute;

    height: 100%;
    width: 70%;
    right: 0;
}

#edu-timeline::after
{
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 15%;
    margin-left: -5px;
}

#edu-timeline .container
{
    position: relative;

    width: 60%;
    padding: 0 25px;
    margin: 40px 0;
    bottom: 10px;
    left: 15%;
}

#edu-timeline .container::after
{
    content: '';
    position: absolute;
    background-color: white;

    width: 25px;
    height: 25px;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#edu-timeline .before::after
{
    left: -15px;
}

#edu-timeline .current::after
{
    left: -19px;
    border: 4px solid goldenrod;
}

#edu-timeline .content
{
    position: relative;
    text-align: center;
    background-color: white;

    border-radius: 8px;
    min-height: 42px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#edu-timeline .school
{
    color: #774898;

    font-size: 28px;
}

#edu-timeline .major
{
    display: block;
    color: gray;
    display: none;

    font-size: 16px;
}

#edu-timeline .school:hover + .major
{
    display: block !important;
}

#edu-timeline .school:hover
{
    color: purple !important;
    
    font-size: 32px;
}

#intro
{
    position: relative;
    float: left;

    left: 5px;
    max-width: calc(100vw - 470px);
}

#intro .message
{
    float: left;
    clear: both;
    background-color: #00a8b5;
    color: white;
    
    padding: 15px;
    margin-top: 15px;
    font-size: 24px;
    border-radius: 0 20px 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#intro .message-img
{
    float: left;
    clear: both;

    margin-top: 15px; 
}

#intro img
{
    border-radius: 20px;

    -webkit-filter: drop-shadow(0 3px 6px rgba(0,0,0,0.23));
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.23));
}

#contact
{
    display: flex;
    clear: both;
    justify-content: space-between;
    align-items: center;

    padding: 10px 50px;
    height: 120px;
}

#contact a
{
    text-decoration: none;
    color: white;

    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: .5s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#contact a:hover
{
    transform: scale(1.2);
}

#contact i
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: .5s;
}

#contact i:hover
{
    transform: rotate(360deg);
}

.discord
{
    background-color: #7289DA;
}

.facebook
{
    background-color: #4267B2;
}

.linkedin
{
    background-color: #0075B0;
}

.mail
{
    background-color: #002060;
}

.github
{
    background-color: #6B2B87;
}

.google-scholar
{
    background-color: #DE4F42;
}

.instagram
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

#my-skills
{
    display: flex;
    background-color: #fbb901;

    height: 200px;
}

#my-skills .header
{
    display: flex;
}

#my-skills .header .title
{
    text-align: center;
    writing-mode: vertical-rl;
    background: #343434;
    color: #fbb901;

    font-size: 64px;
    width: 100px;
    height: 100%;
}

#my-skills .header .slash
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    
    border-width: 100px 0 100px 50px;
    border-color: transparent transparent transparent #343434;
}

#my-skills .content
{
    display: flex;
    clear: both;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 50px;
}

#my-skills .content .skill-box
{
    text-align: center;
    color: #343434;
}


#site-statics
{
    background-color: dodgerblue;
    color: ghostwhite;
    text-align: center;

    height: 600px;
    font-size: 24px;
    padding: 5px;
}

#site-statics ul
{
    list-style-type: none;

    margin: 0;
    padding: 0;
}

#site-statics .self-data
{
    position: relative;
    float: left;
    background: #4fb783;

    border-radius: 20px;
    padding: 25px;
    margin: 10px;
}

#site-statics .other-data
{
    display: inline-block;

    margin: 35px;
}