@import url("/css/master.css");
@import url("/css/blog.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


/* Header */
#header .title
{
    font-family: 'Ubuntu Mono', monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;

    width: 0;
    border-right: .1em solid #e7e8eb;

    animation: typing 2s steps(22, end) 1.5s forwards,
               blinking-cursor .5s step-end infinite;
}