html, body
{
    position: absolute;
    font-family: "Noto Sans TC", sans-serif;

    top: 0;
    left: 0;
    margin: 0;
    padding: 0 5%;
    height: 90%;
    width: 90%;
}

main
{
    width: 100%;
    height: 100%;
}

#input-seq
{
    width: 50%;
}

#result
{
    display: none;
}

#chessboard
{
    display: block;
    overflow: auto;
    clear: both;
    border-style: solid;
    border-color: #888888;

    margin: 20px 0;
}

#queen-img
{
    display: none;
}

#error-msg, #show-isans
{
    color: red;
}